@import "../../../data/styles.css";

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.modal {
	position: relative;
	background: white;
	border-radius: 12px;

	box-sizing: border-box;

	width: 100%;
	max-width: 800px;
	height: 70vh;
	overflow-y: auto;

	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.modal-content {
	padding-right: 5rem;
	padding-left: 5rem;
	padding-bottom: 5rem;
}

.modal-close-wrapper {
	position: sticky;
	top: 0;
	height: 0;
	z-index: 20;
}

.modal-close {
	position: absolute;
	top: 12px;
	right: 12px;

	width: 32px;
	height: 32px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: white;
	border-radius: 50%;

	font-size: 24px;
	font-weight: bold;
	line-height: 1;

	cursor: pointer;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.modal-close:hover {
	background: #f2f2f2;
}

.modal-banner {
	width: 100%;
	height: 35%;
	overflow: hidden;
}

.modal-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.modal-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 40px;
	padding-top: 15px;
	margin-bottom: 0.65em;
	font-weight: 700;
}

.modal-link {
	display: flex;
	align-items: center;
	padding-bottom: 12px;
	color: var(--link-color);
	font-size: 16px;
	width: fit-content;
}

/* .modal-link:hover {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
} */

.modal-link-icon {
	padding-left: 5px;
	font-size: 16px;
}

.modal-link-text {
	padding-left: 10px;
	font-weight: 700;
}

.modal-section {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 30px;
	padding-top: 30px;
	margin-bottom: 0.30em;
	font-weight: 700;
}

.modal-subsection {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 20px;
	padding-top: 15px;
	margin-bottom: 0.65em;
	font-weight: 600;
}

.modal-content-text {
	font-family: var(--secondary-font);
	color: var(--secondary-color);
	font-size: 16px;
}

.modal-content ul {
  list-style: disc;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

.modal-content li {
  display: list-item;
  margin-bottom: 0.25rem;
}

.modal-content a {
	color: var(--link-color);
}