@import "../../../data/styles.css";

.project {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 1;
	height: 100%;
	outline: 2px solid #f4f4f5;
}

.project a {
	text-decoration: none;
}

.project:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.1s ease-in-out;
	background-color: #f5f5f5; 
	box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
	transform: translateY(-1px);
}

.project:hover .project-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.project-container {
	padding: 30px;
	padding-top: 0;
}

.project-banner {
	width: 100%;
	height: 100px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.project-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.project-logo {
	width: 30px;
}

.project-logo img {
	width: 100%;
}

.project-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 1em;
	font-weight: 700;
}

.project-description {
	color: var(--secondary-color);
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
}

.project-link-text {
	padding-left: 20px;
	font-weight: 700;
}
